In [6]:
import pandas as pd
from icecream import ic
import sqlite3

In [16]:
conn = sqlite3.connect("ufcql.db")
df = pd.read_sql('select * from rounds', conn)

df.describe

<bound method NDFrame.describe of                event_id          fight_id        fighter_id  round  kd  \
0      a6a9ab5a824e8f66  4acab67848e78327  be9d259be012e8a4      1   0
1      a6a9ab5a824e8f66  4acab67848e78327  a683f9ddb70aa4bd      1   0
2      a6a9ab5a824e8f66  4b9ae533ccb3fcdf  46c8ec317aff28ac      1   0
3      a6a9ab5a824e8f66  4b9ae533ccb3fcdf  ea0ad155451ed1f5      1   0
4      a6a9ab5a824e8f66  ccee020be2e8d9f6  319fa1bd3176bded      1   0
...                 ...               ...               ...    ...  ..
34543  5a558ba1ff5e9121  db49619221b282af  399afbabc02376b5      1   1
34544  5a558ba1ff5e9121  b1f2ec122beda7a5  009341ed974bad72      1   0
34545  5a558ba1ff5e9121  b1f2ec122beda7a5  e5549c82bfb5582d      1   0
34546  5a558ba1ff5e9121  b1f2ec122beda7a5  009341ed974bad72      2   0
34547  5a558ba1ff5e9121  b1f2ec122beda7a5  e5549c82bfb5582d      2   1

       sig_str_landed  sig_str_att sig_str_perc  total_str_landed  \
0                   1            1          1.0                 2
1                   0            4          0.0                 1
2                   1            1          1.0                 1
3                   1            1          1.0                 2
4                  11           17         0.64                74
...               ...          ...          ...               ...
34543              10           14         0.71                10
34544              11           19         0.57                23
34545              11           20         0.55                17
34546              19           34         0.55                21
34547              27           41         0.65                32

       total_str_att  ...  legs_att  distance_landed distance_att  \
0                  2  ...         0                0            0
1                  5  ...         2                0            3
2                  1  ...         0                0            0
3                  2  ...         1                1            1
4                 86  ...         1                1            1
...              ...  ...       ...              ...          ...
34543             14  ...         3                7           11
34544             33  ...         3                8           16
34545             26  ...         8                8           17
34546             37  ...         3               18           33
34547             46  ...         7               14           26

       clinch_landed  clinch_att  ground_landed  ground_att  sub_att  rev  \
0                  1           1              0           0        1    0
1                  0           1              0           0        0    0
2                  1           1              0           0        1    0
3                  0           0              0           0        0    0
4                  1           1              9          15        0    0
...              ...         ...            ...         ...      ...  ...
34543              0           0              3           3        0    0
34544              1           1              2           2        0    0
34545              3           3              0           0        1    0
34546              1           1              0           0        0    0
34547              1           1             12          14        0    0

       ctrl
0      None
1      None
2      None
3      None
4      None
...     ...
34543  0:02
34544  2:17
34545  0:00
34546  0:28
34547  0:08

[34548 rows x 28 columns]>